@using Database_Design.Models.ViewModels
@model ProductListViewModel
<div>
    <h2>All Products</h2>
</div>
@foreach(var product in Model.Products)
    {
        <div>
            <img src="@Url.Content(@product.ImageUrl)" alt=""/>
            <p>@product.ImageUrl</p>
            <h4>@product.ProductName</h4>
            @product.Description
            <h4>Price: @product.ProductPrice.ToString("c")</h4>
        </div>
    }
<div page-model="@Model.PagingInfo" page-action="List"></div>

