@model IEnumerable<AccountModel>
<div>
    @foreach (Database_Design.Models.AccountModel r in Model)
    {
        <tr>
            <td>@r.FirstName</td>
            <td>@r.Email</td>
            <td>@r.Phone</td>
            <td>@r.LastName</td>
            <td>@r.UserName</td>
            <td>@r.Password</td>
            <br />
        </tr>
    }

</div>