@model Database_Design.Models.ReportContent
<h4 style="color:purple">
</h4>

<h3><b>Please input your information below, along with a statement of the tech problem.</b></h3>
     
@using (Html.BeginForm("Form2", "Home", FormMethod.Post))
{
    <!-- TODO: Review the below cosmetics, make it less squished together -->
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td>First Name: </td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBoxFor(m => m.LastName)</td>
        </tr>
        <tr>
            <td>Phone Number: </td>
            <td>@Html.TextBoxFor(m => m.PhoneNumber)</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
        </tr>
        <tr>
            <td>Statement: </td>
            <td>@Html.TextAreaFor(m => m.Statement)</td>
        </tr>
        <tr>
            <td>Artist Product: </td>
            <td>@Html.TextAreaFor(m => m.ArtistProduct)</td>
        </tr>
        <tr>
            <td>Artist Profile Page: </td>
            <td>@Html.TextAreaFor(m => m.ArtistLink)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
        <!-- What should this button do? Email one of us? or automate it? -->
    </table>
}